<nav id="main-nav">
  <div class="navigation">
 
    <!-- search form visible on phone -->
    <!--
    <div class="search">
      <form action="/search" method="get">
        <div class="search-wrapper">
          <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
      </form>
    </div>
    -->
 
    <!-- navigation items -->
    <ul class="nav nav-stacked">
 
		<!-- single navigation item -->
	    <li {{#if nav_index}} class="active" {{/if}}>
			<a href="/">
				{{#if session.activeuser}}
					<i class="icon-dashboard"></i>
					<span>Dashboard</span>
				{{else}}
					<i class="icon-home"></i>
					<span>Home</span>
				{{/if}}
			</a>
	    </li>

	    <!-- join -->
		{{#unless session.activeuser}}
			<li {{#if nav_registerform}} class="active" {{/if}}>
				<a href="/user/registerform">
					<i class="icon-heart"></i>
					<span>Join</span>
				</a>
			</li>
		{{/unless}}

		<!-- browse -->
		<li {{#if nav_browse_products}} class="active" {{/if}}>
			<a href="/browse/products">
				<i class="icon-shopping-cart"></i>
				<span>Products</span>
			</a>
		</li>
		<li {{#if nav_browse_recipes}} class="active" {{/if}}>
			<a href="/browse/recipes">
				<i class="icon-food"></i>
				<span>Recipes</span>
			</a>
		</li>

		<!-- create -->
		<li {{#if nav_create}} class="active" {{/if}}>
			<a class="dropdown-collapse" href="#">
				<i class="icon-plus-sign-alt"></i>
				<span>Create</span>
				<i class="icon-angle-down angle-down"></i>
			</a>
			<ul class="nav nav-stacked">
				<li>
					<a href="/listing/create/product">
						<i class="icon-shopping-cart"></i>
						<span>Product Listing</span>
					</a>
				</li>
				<li>
					<a href="/listing/create/recipe">
						<i class="icon-food"></i>
						<span>Recipe Listing</span>
					</a>
				</li>
			</ul>
		</li>

    </ul>
  </div>
</nav>