<nav id="main-nav">
  <div class="navigation">
 
    <!-- search form visible on phone -->
    <div class="search">
      <form action="search_results.html" method="get">
        <div class="search-wrapper">
          <input value="" class="search-query form-control" placeholder="Search..." autocomplete="off" name="q" type="text">
          <button class="btn btn-link icon-search" name="button" type="submit"></button>
        </div>
      </form>
    </div>
 
    <!-- navigation items -->
    <ul class="nav nav-stacked">
 
      <!-- single navigation item -->
      <li class="active">
        <a href="/">
          <i class="icon-dashboard"></i>
          <span>Home</span>
        </a>
      </li>
 
      <!-- four level dropdown -->
      <li>
        <a class="dropdown-collapse" href="#">
          <i class="icon-folder-open-alt"></i>
          <span>Four level dropdown</span>
          <i class="icon-angle-down angle-down"></i>
        </a>
        <ul class="nav nav-stacked">
          <li>
            <a class="dropdown-collapse" href="#">
              <i class="icon-caret-right"></i>
              <span>Second level</span>
              <i class="icon-angle-down angle-down"></i>
            </a>
          </li>
          <li>
            <a class="dropdown-collapse" href="#">
              <i class="icon-caret-right"></i>
              <span>Second level</span>
              <i class="icon-angle-down angle-down"></i>
            </a>
            <ul class="nav nav-stacked">
              <li>
                <a class="dropdown-collapse" href="#">
                  <i class="icon-caret-right"></i>
                  <span>Third level</span>
                  <i class="icon-angle-down angle-down"></i>
                </a>
                <ul class="nav nav-stacked">
                  <li>
                    <a href="#">
                      <i class="icon-caret-right"></i>
                      <span>Fourth level</span>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="icon-caret-right"></i>
                      <span>Another fourth level</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>