<section id="content">
  <div class="container">
    <div class="row" id="content-wrapper">
      <div class="col-xs-12">


        <div class="row">

          <!-- content of page -->
          <div class="col-sm-8">
    			<h1>Family Fave</h1>
    			<p>
    				{{#if session.activeuser}}
    					Welcome {{session.activeuser.data.firstName}}
    				{{else}}
    					Welcome to Family Fave!
    					<br><a class="btn btn-primary" href="/users/registerform">Sign Up &gt;</a>
    				{{/if}}
    			</p>
          </div>
 
        </div>
      </div>
    </div>
  </div>
</section>