<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<title>{{title}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<link rel="stylesheet" href="/build/css/build.css">

	<script type="text/javascript" src="/build/js/master.min.js"></script>

</head>
<body>

	{{>header}}

	<div id="wrapper">

		<div id="main-nav-bg"></div>

		{{>nav}}

		{{#if message}}
			<div class="alert alert-danger">
				<p>
					{{message}}
				</p>
			</div>
		{{/if}}

		{{{body}}}

	</div>

</body>
</html>