<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">

	<title>{{title}}</title>

	<link rel="stylesheet" href="/theme/`">

</head>
<body>

	{{>nav}}

	<div id="main">
		{{{body}}}
	</div>

</body>
</html>