<section id="content">
  <div class="container">
    <div class="row" id="content-wrapper">
      <div class="col-md-8">

            <div class="page-header">
              <!-- page title -->
              <h1 class="pull-left">
                <i class="icon-heart"></i>
                <span>Companion Application</span>
              </h1>
            </div>

			<form role="form" method="POST" action="/user/register">

				<div class="form-group">
					<label for="firstName">First Name:</label>
					<input type="text" class="form-control" id="firstName" name="firstName">
				</div>

				<div class="form-group">
					<label for="lastName">Last Name:</label>
					<input type="text" class="form-control" id="lastName" name="lastName">
				</div>

				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" name="email">
				</div>

				<div class="form-group">
					<label for="description">Description:</label>
					<input type="text" class="form-control" id="description" name="description">
				</div>

				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" name="password">
				</div>

				<div class="form-group">
					<label for="confirmPassword">Confirm Password:</label>
					<input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
				</div>

				<button type="submit" class="btn btn-primary">Create Account</button>

			</form>

	  </div>
	</div>
  </div>
</section>